body{
  font-family: Arial, sans-serif;
  font-weight: 600;
  background-color: #f0f0f0;
  font-size: large;
}

header {
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  padding: 20px;
}

h1{
  text-align: center;
  padding-bottom: 20px;
}

.aas-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px auto;
  font-family: Arial, sans-serif;
  font-weight: 500;
}

.aas-table th,
.aas-table td {
  border: 2px solid #ddd;
  padding: 10px;
  text-align: center;
}

.aas-table td{
  text-align: justify;
}

.aas-table th {
  background-color: #3a3737;
  color: white;
}

.aas-table tbody tr:nth-child(odd) {
  background-color: rgb(236, 250, 248);
}